/* make all buttons 20 by 20 pixels with white text and green background and a 10 pixel margin */
button { width: 200px; height: 80px; font-size:20px; background: grey; color: white; margin: 10 10 0 10; cursor:url(zelda2.png), pointer;}



button.dialer { font-size: 24px; font-weight:bold;  width: 100px; height: 60px; background: black; color: white; margin: 10px; border-radius: 20px; cursor:url(zelda2.png), pointer;}
button.contact { font-size: 20px; width: 100px; height: 60px; background: black; color: white; margin: 10 10 10 10; border-radius: 20px; cursor:url(zelda2.png), pointer;}

#clear { width:165px; font-weight: bold; height: 60px; margin:10px; color: cyan; background: red; border-radius: 20px;  }
#call { width:165px; font-weight: bold; height: 60px; margin:10px; color: red; background: cyan; border-radius: 20px;}

#submit { width:415px; font-weight: bold; height: 60px; margin:15 0 0 15; color: black; background: white; border-radius: 20px;}

#content_add {float: left; background: black; margin-left: -20px; width: 120%; height: 100%;}

h1 { font-size: 400%; margin: 10px;}

#contentHeader { font-size: 400%; color: white; margin: 10 10 10 30;}

#sub { font-size: 12px; font-weight: normal; color: white; cursor:url(zelda2.png), pointer;}


.contact_table { font-size: 25px; margin: 20px;border-collapse: collapse;}

#headers {font-size: 30px;}
#header_row {
  border: solid;
  border-width: 3px 0;
  padding:40px;
  background: lightgrey;
 
}

.contact_table th{
  padding: 30px;
}

.contact_table tr{
  border: solid;
  border-width: 1px 0;
 
}

.contact_table img{
	width: 70px; 
	height: 70px;
}

.contact_table td{
	padding: 40px;
	text-align: left;
}


#number {margin: 10 15 5 3;}
#email { margin: 10 10 10 5;}

label.add { font-weight:bold; height: 40px; color:white; font-size:20px; margin:10 2 10 20;}

input.dialer { width: 345px; font-size: 20px; height: 40px; margin: 10 20 5 15;}
input.add { width: 345px; font-size: 20px; height: 40px; margin: 10 20 5 5;}
/* make all tags with the "cool" class name have blue text */
.cool { color: blue; }

/* make the button with ID "delete" red */
#delete { background: red; }
