body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#test{
	width: 250px; 
	height: 80px; 
	font-size: 20px; 
	margin: 5 5 5 5; 
	
}

#char{
	width: 250px; 
	height: 80px; 
	font-size: 20px; 
	margin: 5 5 5 5; 
	
}

#codyButton{
	width: 250px; 
	height: 80px; 
	font-size: 20px; 
	margin: 5 5 5 5; 
	
}
